/* steelfish-bold - cyrillic_latin */
@font-face {
    font-display: swap;
    font-family: 'Steelfish';
    font-style: normal;
    font-weight: bold;
    src: url('/css/fonts/SteelfishRg-Bold.woff2') format('woff2');
}

/* steelfish-500 - cyrillic_latin */
@font-face {
    font-display: swap;
    font-family: 'Steelfish';
    font-style: normal;
    font-weight: 400;
    src: url('/css/fonts/SteelfishRg-Regular.woff2') format('woff2');
}


/* inter-300 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/inter-v13-latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v13-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/inter-v13-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/inter-v13-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter-v13-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-800 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/inter-v13-latin-800.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-900 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/inter-v13-latin-900.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

*{
    margin: 0;
}

:root {
    --first_color: #34344E;
    --second-color: #9D3E28;
    --third-color: #ECEEF8;
    font-size: 62.5%
}


::selection{
    background-color: #9D3E28;
}

a:hover,
button:hover{ 
    transform: scale(1.3);
    transform: rotate(-2deg);
    color: aliceblue;
    transition: transform 0.5s, background-color 0.5s;
    background-color: rebeccapurple ;
    cursor: pointer;
}

label:hover{
    transform: scale(1.2);
    transition: transform 1s;
    transform: rotate(-2deg);
    color: #9D3E28;
    cursor: pointer;
}

a:active,
button:active{ 
    background-color: var(--first_color);
    box-shadow: 0 3px rgb(0, 0, 0) inset;
    transition: transform 0s, background-color 0s;
}

label:active{
    transform: scale(1.2);
    transition: transform 1s;
    background-color: #9D3E28;
    cursor: pointer;
}
a:focus,
button:focus{ 
    transform: scale(1.3);
    transition: transform 0.5s, background-color 0.5s;
    background-color: rebeccapurple ;
    cursor: pointer;
    border: 2px solid black;
}

label:focus{
    transform: scale(1.3);
    transition: transform 0.5s, background-color 0.5s;
    background-color: rebeccapurple ;
    cursor: pointer;
    border: 2px solid black;
}

header {
    font-family: "inter", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.4;
    color: white;
    background-color: var(--first_color);
    padding: 17px 20px 16px 20px;
}

.header__logo,
.header__phone,
.header__burger {
    display: flex;
    align-items: center;
    gap: 10px;
}


.phone:visited {
    color: #ECEEF8
}

.phone {
    text-decoration: none;
}


.burger {
    margin: 0;
    text-align: right;

}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
.skip-link {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    font-family: "Inter",sans-serif;
    padding: 10px 15px;
    color: whitesmoke;
    background: #10F3AF;
    transform: translateY(-100%);
  }

.skip-link:focus {
    transform: translateY(20%);
  }
.hero__title {
    color: #ECEEF8;
    font-size: 5rem;
    font-family: 'Steelfish';
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
    padding: 0;
    margin-bottom: 0;
    margin-left: 12px;
    margin-right: 12px;
}

body {
    box-sizing: border-box;
    background-color: #34344E;

}
html{
    scroll-behavior: smooth;
}

.hero__text {
    color: white;
    font-size: 1.2rem;
    font-family: Inter, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.4;
    word-wrap: break-word;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 0;
}

.hero__link {
    display: block;
    border-radius: 100px;
    background-color: #9D3E28;
    width: 260px;
    padding: 13px 30px;
    text-decoration: none;
    border-radius: 2rem;
    margin: 0;
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    margin-top: 20px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 20px;;
    ;
}

.burger {
    background-color: var(--first_color);
    border: none;
}


.hero__title--right {
    display: block;
    padding-left: 28px;
    margin-bottom: 0;

}
.hero__title--center {
    display: block;
    padding-left: 28px;
    margin-bottom: 0;

}

.link__text {
    color: white;
    font-size: 1rem;
    font-family: Inter, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.4;
    word-wrap: break-word;
    background-color: #9D3E28;
    text-align: center;

}



.probable-price__list {
    padding: 3rem;
    border: 3rem;
    border-radius: 1rem;
}


.about-studio__title {
    color: #ECEEF8;
    font-family: Steelfish, sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    text-transform: uppercase;
    word-wrap: break-word;
}

.about-studio__title--right,
.about-studio__title--left {
    display: block;
    padding-left: 77px;
}

ul {
    list-style-type: none;
}

.studio-card,
.studio-zone {
    background-color: white;
}



.studio-card__title {
    font-family: Steelfish, sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.1;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    margin-top: 18px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;

}

.studio-card__text {
    color: #34344E;
    font-size: 1.2rem;
    font-family: Inter, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.4;
    word-wrap: break-word;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;


}

.sudio-zone1__title {
    color: white;
    font-size: 3rem;
    font-family: inter, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.1;
    letter-spacing: 0.02;
    word-wrap: break-word;
}

.about-studio__studio-card {
    border-radius: 10px;
    position: relative;
    width: 320px;
    margin: 0 auto;
    margin-top: 20px;



}

.hero__text--width-img,
.hero__text--width-img--small{
    display: none;
}
.studio-card__img {
    display: block;
    height: 336px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    
}

.about-studio__list {
    padding: 0;
}

.studio-card__price {
    display: block;
    border-radius: 2rem;
    padding: 0.25rem;
    background-color: #f1907a;
    margin-top: 12px;
    padding: 5px 12px;
    width: 77px;
    text-align: center;
    transform: rotate(-5deg);
}

.studio-card__price--money {
    display: block;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.24px;
    text-transform: uppercase;
    margin-top: 12px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.studio-card__link {
    display: block;
    color: #9D3E28;
    text-align: right;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.48px;
    text-decoration-line: underline;
    text-transform: uppercase;
    margin-top: 12px;
    margin-bottom: 20px;
    margin-right: 20px;

}

.studio-card__oneline {
    display: flex;
    justify-content: space-between;
}

.studio-composition__title {
    color: #ECEEF8;
    font-family: Steelfish, sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    text-transform: uppercase;
    margin-top: 85px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    white-space: nowrap;
}

.studio-composition__title--right {
    display: block;
    margin-left: 57px;
}

.studio-composition__list {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    margin: 0;
    overflow: auto;
}

.studio-composition__studio-zone {
    position: relative;
    border-radius: 10px;
    width: 261px;
    height: 410px;
    margin-right: 10px;
}

.studio-zone__img {
    border-radius: 10px;
    height: 261px;
    width: 261px;
    object-fit: cover;
}

.studio-zone__title {
    color: #34344E;
    font-family: Steelfish, sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    margin-top: 18px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;
}

.studio-zone__text {
    color: #34344E;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.24px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;

}

.studio-zone--addition {
    background-color: #9D3E28;
}

.studio-zone__title--addition {
    color: #FFF;
    font-family: Steelfish, sans-serif;
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 0.84px;
    text-transform: uppercase;
    margin: 18px 20px;
}


.studio-zone__list--addition {
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
}

.description {
    margin-bottom: 10px;
}

.description__text {
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.6px;
    text-transform: uppercase;
    margin: 0;
}

.studio-zone__link {
    display: block;
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.6px;
    text-transform: uppercase;
    border-radius: 100px;
    padding: 14px 36px;
    text-align: center;
    background-color: var(--first_color);
    text-decoration: none;
    margin: 10px;
}

.probable-price__title {
    color: #ECEEF8;
    font-family: Steelfish, sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    text-transform: uppercase;
    margin-top: 85px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;
}

.probable-price__text {
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.24px;
    text-transform: uppercase;
    margin-top: 36px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}

.probable-price__form {
    position: relative;
    border-radius: 10px;
    margin-right: 20px;
    margin-left: 20px;
    width: 320px;
    background-color: #fff;
}

.probable-price__img {
    display: block;
    object-fit: cover;
    height: 280px;
    width: 320px;
    border-radius: 10px;
}

.survey {
    border: 0;
    padding: 0;
    margin: 0;
}
input:focus+span{
    background-color:#a7a7ed;
}

.survey__question {
    color: #34344E;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: -0.24px;
    text-transform: uppercase;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
}

label {
    color: #34344E;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.24px;
    text-transform: uppercase;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 106px;
    display: flex;
    padding: 0;
    text-align: center;
    align-items: center;

}


.survey__wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}

.survey__wrapper--double {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.question {
    margin-left: 0;

}

.probable-price__price {
    color: #34344E;
    font-family: Steelfish, sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    margin-top: 18px;
    margin-left: 30px;
    margin-right: 20px;
}

.probable-price__price-text {
    display: block;
    color: rgba(52, 52, 78, 0.50);
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.24px;
    text-transform: uppercase;
    height: 34px;
    margin-top: 13px;


}

input[type='radio'],
label {
    cursor: pointer;
}

input[type='radio'] {
    position: relative;
    height: 24px;
    width: 24px;
    margin-right: 10px;
    appearance: none;
    outline: none;
}

input[type='radio']::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FFF;
    border: 1.75px solid #9D3E28;
}

input[type='radio']:checked::after {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #9D3E28;
}

.form__answer {
    flex-shrink: 0;
}

.probable-price__link {
    display: flex;
    justify-content: center;
    border-radius: 100px;
    padding: 13px 30px;
    color: #FFF;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.24px;
    text-transform: uppercase;
    margin: 20px;
    background-color: #9D3E28;
    text-decoration: none;
}

.studio-equipment__title {
    color: #ECEEF8;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Steelfish, sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    text-transform: uppercase;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 85px;
    margin-bottom: 0;
}

.studio-equipment__title--center {
    display: block;
    text-align: center;

}

.studio-equipment__text {
    color: #FFF;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.24px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;

}

.studio-equipment__button--first {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 320px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
    border: 3px solid #9D3E28;
    color: #34344E;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.24px;
    text-transform: uppercase;
    text-align: left;

}

.studio-equipment__button {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 320px;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right: 20px;
    color: #34344E;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.24px;
    text-transform: uppercase;
    text-align: left;

}

.studio-equipment__img--big {
    display: block;
    width: 320px;
    height: 100%;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 0;
    border-radius: 10px;
}

.studio-equipment__img {
    display: block;
    width: 60px;
    height: 50px;
    margin-right: 30px;
    border-radius: 10px;

}

.studio-space__title {
    color: #ECEEF8;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Steelfish, sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    text-transform: uppercase;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 85px;
    margin-bottom: 0;

}

.studio-space__title--center {
    padding-left: 57px;

}

.studio-space__title--left {
    display: block;
}

.studio-space__img {
    width: 320px;
    height: 144px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 90px;
}

.test-drive__title {
    color: #FFF;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Steelfish, sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    text-transform: uppercase;
    padding-top: 85px;
    padding-left: 20px;
    margin: 0;
}

.test-drive__color-title {
    margin: 0;
    padding-left: 57px;
    padding-right: 20px;
    color: #34344E
}

.test-drive__text {
    color: #34344E;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.24px;
    text-transform: uppercase;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.opportunities__text {
    color: #34344E;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.24px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 0;
    margin-right: 20px;
}

.test-drive__list {
    list-style-type: disc;
}

.test-drive__link {
    color: #FFF;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.24px;
    text-transform: uppercase;
    padding: 13px 30px;
    border: 0;
    border-radius: 100px;
    background-color: #34344E;
    display: block;
    width: 145px;
    height: 17px;
    margin-left: 20px;
    text-decoration: none;
    position: absolute;
    z-index: +1;
    margin-top: 20px;
}

.test-drive__img {
    width: 320px;
    height: 388px;
    object-fit: cover;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px 10px 0 0;
    position: relative;
    z-index: 0;
    margin-top: 39px;
}


.studio-movie__title {
    margin: 0;
    color: #FFF;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Steelfish, sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    text-transform: uppercase;
    padding-top: 85px;
    padding-left: 20px;
}

.studio-movie__list {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-top: 30px;
    margin: 0;
    overflow: auto;

}

.video__exemple {
    display: block;
    width: 261px;
    height: 146px;
    margin-right: 10px;
    border-radius: 10px;

}

.organization__title {
    color: #FFF;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Steelfish, sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    text-transform: uppercase;
    margin: 0;
    padding-left: 20px;
    padding-top: 85px;
    padding-right: 20px;
    padding-bottom: 30px;
}

.organization__tech {
    color: #34344E;
    padding-left: 57px;


}

.organization__text {
    color: #34344E;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.24px;
    text-transform: uppercase;
    padding: 0 20px 10px 20px;
    margin: 0;

}

.organization__link {
    color: #FFF;
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.24px;
    text-transform: uppercase;
    border-radius: 100px;
    background-color: var(--first_color);
    padding: 13px 30px;
    text-decoration: none;
    margin-left: 20px;
    display: block;
    margin-top: 30px;
    margin-right: 20px;
    max-width: 145px;
    max-height: 45px;
    text-align: center;
}

.mp-questions__questions {
    color: #FFF;
    font-family: Steelfish, sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    text-transform: uppercase;
    padding-top: 85px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(52, 52, 78, 0.20);
    margin:0 20px;
}

.mp-questions__questions-title{
    color: #34344E;
    font-family: Steelfish,sans-serif;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    padding-top: 14px;

}

.mp-questions__answer{
    color:  #34344E;
    font-family: Inter,sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.24px;
    text-transform: uppercase;
    padding-top: 12px;
    padding-bottom: 18px;
}

.mp-questions__questions-container{
    border-bottom: 1px solid rgba(52, 52, 78, 0.20);
    margin-left: 20px;
    margin-right: 20px;

}
.studio-contacts__title{
    color: #FFF;
    font-family: Steelfish,sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 110%; 
    text-transform: uppercase;
    padding-top: 85px;
    padding-left: 20px;
    padding-right: 20px;
    }

.studio-contacts__title--right{
    color: #34344E;
    font-family: Steelfish,sans-serif;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    text-transform: uppercase;
    display: block;
    padding-left: 57px;
}

.studio-contacts__map{
    display: block;
    max-width: 330px;
    object-fit: cover;
    margin-top: 30px;
    margin-left: 12px;
    margin-right: 8px;
    border-radius: 10px;

}

.studio-contacts__mail-phone{
    margin-top: 25px;
    margin-left: 12px;
    margin-right: 12px;
    border-bottom: 1px solid rgba(52, 52, 78, 0.20);
    border-top: 1px solid rgba(52, 52, 78, 0.20);
    max-width: 600px;
}
.studio-contacts__mail{
    text-decoration: none;
    display:flex;
    align-items: center;
    width: 100%;
    padding-top: 17px;
    padding-bottom: 18px;
    border-bottom: 1px solid rgba(52, 52, 78, 0.20);

}

.mail__img{
    width: 24px;
    height: 24px;
    margin: 10px;
}

.mail__text{
    color: #34344E;
    font-family: Inter,sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
    letter-spacing: -0.24px;
    text-transform: uppercase;
    margin-left: 10px;

}

.phone__img{
    width: 24px;
    height: 24px;
    margin: 10px;
}

.studio-contacts__phone{
    text-decoration: none;
    display:flex;
    align-items: center;
    width: 100%;
    padding-top: 17px;
    padding-bottom: 18px;
    border-bottom: 1px solid rgba(52, 52, 78, 0.20);

}

.phone__text{
    color: white;
    font-family: Inter,sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
    letter-spacing: -0.24px;
    text-transform: uppercase;
    margin-left: 10px;

}

.social {
    display: flex;
    justify-content: space-between;
    width: 95px;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 12px;
    margin: 10px;
    max-width: 600px;
}

.studio-contacts__address{
    margin-left: 12px;
    margin-right: 12px;
    border-bottom: 1px solid rgba(52, 52, 78, 0.20);
    border-top: 1px solid rgba(52, 52, 78, 0.20);
    max-width: 600px;

}

.studio-contacts__time-img{
    width: 24px;
    height: 24px;
    margin: 10px;
}
.studio-contacts__address-img{
    width: 24px;
    height: 24px;
    margin: 10px;
}

.studio-contacts__address--timetable{
    display:flex;
    align-items: center;
    width: 100%;
    padding-top: 17px;
    padding-bottom: 18px;
    border-bottom: 1px solid rgba(52, 52, 78, 0.20);
    max-width: 600px;


}

.time-text{
    display: block;
    color: #34344E;
    font-family: Inter,sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
    letter-spacing: -0.24px;
    text-transform: uppercase;
    padding-left: 10px;
    margin-left: 10px;

}

.time-text__recording{
    display: block;
    color: rgba(52, 52, 78, 0.50);
    font-family: Inter,sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.24px;
    text-transform: uppercase;
}

.studio-contacts__address--place{
    display:flex;
    align-items: center;
    width: 100%;
    padding-top: 17px;
    padding-bottom: 18px;
    border-bottom: 1px solid rgba(52, 52, 78, 0.20);

}
.studio-contacts__address-img{
    width: 24px;
    height: 24px;
}

.studio-contacts__address-text{
    color: #34344E;
    font-family: Inter,sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
    letter-spacing: -0.24px;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 20px;
    margin-left: 10px;
}

.studio-contacts__address{
    padding-bottom: 90px;
}
.footer__logo{
    display: flex;
    align-items: center;
    padding-top: 87px;
    padding-left: 20px;
    color: #FFF;
    font-family: Inter,sans-serif   ;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.6px;
    text-transform: uppercase;
}

.logo__img{
    width: 12px;
    height: 24px;
    padding-right: 10px;
}

.footer__list{
    display: flex;
    justify-content: space-between;
}











.add,
.link-text,
.organization__link-text {
    color: white;
    font-size: 1.2rem;
    font-family: Inter, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.4;
    word-wrap: break-word;
}

.studio-card__price,
.link__text {
    color: white;
    font-size: 1.2rem;
    font-family: Inter, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.4;
    word-wrap: break-word;
}

.alink__text {
    color: #9D3E28;
    font-size: 1.2rem;
    font-family: Inter, sans-serif;
    font-weight: 400;
    text-decoration: underline;
    text-transform: uppercase;
    line-height: 1.4;
    word-wrap: break-word;
}

.probable-price__list {
    background-color: white;
    color: #34344E;
    font-size: 1.2rem;
    font-family: Inter, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.4;
    word-wrap: break-word;

}


.test-drive,
.studio-movie,
.organization,
.studio-contacts,
.mp-questions {
    background-color: #9D3E28;


}

.logo__text {
    color: white;
}

.logo {
    text-decoration: none;
}

.link__text2 {
    background-color: #34344E;
    color: white;
    font-size: 1.2rem;
    font-family: Inter, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.4;
    word-wrap: break-word
}

.test-drive__color-title,
.organization__tech,
.studio-contacts__color-title {
    color: #34344E
}

.test-drive {
    color: #ECEEF8
}

footer {
    background-color: #34344E;
}

.footer-link__mail,
.footer-link__phone,
 {
    color: white;

}

.button {
    color: #ECEEF8;
    background-color: #34344E;
    border: 0;
}

.text__developer {
    color: #9D3E28
}

.hero__wrapper,
.about-studio__wrapper,
.studio-equipment__wrapper,
.studio-composition__wrapper,
.probable-price__wrapper,
.studio-space__wrapper,
.studio-movie__wrapper,
.organization__wrapper,
.mp-questions__wrapper,
.studio-contacts__wrapper,
.test-drive__wrapper {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding: 0 8px;
    max-width: 360px;
    min-width: 340px;
}


.header__address{
    display: none;
}


.hero__text-img {
    border-radius: 200px;
    width: 85px;
}

.hero__text-img--small {
    width: 62px;
    border-radius: 200px;
}

.header__burger {
    text-align: right;
    object-position: right;
}

.visually-hidden {
    display: none;
}

.burger__img {
    width: 44px;
    height: 26px;

}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 360px;
    margin: 0 auto;
}

.footer__logo{
    display: inline-block;
    padding-top: 87px;
    padding-left: 40px;
    min-width: 80px;
    color: var(--white, #FFF);
    font-family: Inter,sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
    letter-spacing: -0.6px;
    text-transform: uppercase;

}
.footer__list{
    display: inline-flex;
    min-width: 250px;
    min-height: 80px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-left: 100px;
}
.footer__anchor{
    text-decoration: none;
    color: var(--white, #FFF);
    font-family: Inter,sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; 
    letter-spacing: -0.24px;
    text-transform: uppercase;
    padding: 20px;
}
.social{
    display: inline-block;
    margin: 0;
    padding-left: 130px;
}
.social-vy{
    display: inline-block;
    margin: 0;
}
.social__img,
.social-vy__img{
    padding: 2px;
}
.footer__contacts{
    margin-left: 120px;
}
.mail__text,
.phone__text{
    color: #FFF;
    font-family: "Inter",sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.24px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 10px;
}
.footer__wrapper {
    box-sizing: border-box;
    width: 100%;
    margin:0 auto;
    padding: 0 8px;
    max-width: 360px;
    min-width: 340px;
}
.footer__text{
    color: rgba(255, 255, 255, 0.40);
    font-family: Inter,sans-serif;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.24px;
    text-transform: uppercase;
    display: block;
    padding: 5px;
}
.text__privacy-policy,
.footer__developer,
.form,
.grid{
    display: block;
    text-decoration: none;
    color: whitesmoke;
}
@media screen and (min-width:768px){
    
    *{
        max-width: 1024px;
    }
    .box{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .hero__wrapper,
    .about-studio__wrapper,
    .studio-equipment__wrapper,
    .studio-composition__wrapper,
    .probable-price__wrapper,
    .studio-space__wrapper,
    .studio-movie__wrapper,
    .organization__wrapper,
    .mp-questions__wrapper,
    .studio-contacts__wrapper,
    .test-drive__wrapper,
    .footer__wrapper {
        box-sizing: border-box;
        width: 100%;
        margin: 0 auto;
        padding: 0 15px;
        max-width: 1024px;
    }
    
    header{
        justify-content: space-between;
        max-width: 1024px;
    }
    .hero__text-img,
    .hero__text-img--small{
        display: none;
    }

    .hero__text--width-img{
        display: inline-block;
        height: 67px;
        width: 195px;
        object-fit: cover;
        border-radius: 200px;
        
    }
    .hero__text--width-img--small{
        display: inline-block;
        height: 67px;
        width: 103px;
        border-radius: 200px;
    }
    .header__address{
        display: inline;
        color: #FFF;
        font-family: Inter,sans-serif;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; 
        letter-spacing: -0.6px;
        text-transform: uppercase;
        align-items: center;
    }

    .address__text{
        align-items:center;
        margin-left: 10px;
    }

    .phone__text{
        font-size: 1.5rem;
    }
    .hero__title{
        font-size: 8rem;
        margin-top: 109px;
    }
    .hero__title--center {
        display: block;
        text-align: center;
    }
    .hero__title--right {
        display: block;
        text-align: center;
        padding-right: 10px;
        padding-left: 100px;
    }
    .hero__text-img{
        width: 195px;
        height: 67px;
    }
    .hero__text-img--small{
        width: 103px;
        height: 67px;
    }
    .hero__text{
        font-size: 1.5rem;
        display: block;
    }

    .hero__link {
        display: block;
        width: 351px;
        padding: 13px 30px;
        font-size: 1.5rem;
        margin-top: 20px;
        margin-left: 12px;
        margin-right: 12px;
        margin-bottom: 20px;;
        ;
    }
    .hero__line{
        display: flex;
        flex-direction: row-reverse;
    }
    .about-studio__title{
        font-size: 6.3rem;
        margin-top: 218px;
    }
    .about-studio__title--left {
        padding-left: 0;
        display: inline;
    }
    .about-studio__title--right {
        padding-left: 0;
        text-align: center;
    }

    .about-studio__studio-card {
        width: 344px;
        margin: 20px;

    }
    .studio-card__title{
        font-size:4.2rem ;
    }
    .studio-card__text,
    .studio-card__link,
    .studio-card__price--money{
        font-size: 1.5rem;
        margin: 15px;
    }
    .studio-card__oneline{
        display: block;
    }
    .studio-card__link{
        text-align: left;
    }
    .about-studio__list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .studio-composition__title{
        font-size: 6.3rem;
        text-align: center;
    }
    .studio-composition__title--right{
        text-align: left;
        display: inline;

    }
    .studio-composition__title--center{
        text-align: center;
        display: block;
    }
    .studio-composition__title--doubright{
        display: inline;
    }
    .studio-zone{
        width: 348px;
        height: 478px;
    }
    .studio-zone__title{
        font-size: 4.2rem;
    }
    .studio-zone__text{
        font-size: 1.5rem;
    }
    .probable-price__title{
        font-size: 6.3rem;
        margin-top: 150px;
    }
    .probable-price__text{
        margin-top: 51px;
        font-size: 1.5rem;
    }
    .probable-price__form{
        width: 708px;
        height: 1228px;
        margin: 0 auto;
        margin-bottom: 150px;


    }
    .probable-price__img{
        width: 708px;
        height: 528px;
    }
    .survey__wrapper{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .question__wrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .survey__question{
        font-size: 1.5rem;

    }
    label{
        font-size: 1.5rem;
        width: 100%;
    }
    .survey{
        margin-right: 50px;;
    }
    .probable-price__price{
        font-size: 4.2rem;
    }
    .studio-equipment__title{
        display: inline;
        font-size: 6.3rem;
    }
    .studio-equipment__title--center{
        text-align: center;
        
    }
    .studio-equipment__text{
        font-size: 1.5rem;
        margin-top: 50px;
    }
    .studio-equipment__button--first{
        width: 708px;
        font-size: 1.5rem;
        margin-right: 30px;

    }
    .studio-equipment__button{
        width: 708px;
        font-size: 1.5rem;
        padding-right: 30px;
    }
    .studio-equipment__img--big{
        width: 708px;
        height: 495px;
        object-fit: cover;
      
    }
    .studio-equipment__img{
        width: 60px;
        height: 50px;
    }
    .studio-space__title{
        font-size: 6.3rem;
        margin-top: 150px;
        display: block;
    }
    .studio-space__title--center{
        font-size: 6.3rem;
        display: block;
        text-align: center;
    }
    .studio-space__title--left{
        font-size: 6.3rem;
        text-align: right;
    }
    .studio-space__img{
        width: 95%;
        height: 100%;
        display: block;
        margin-right: 20px;
        margin-bottom: 160px;
    }
    .test-drive__title{
        padding-top: 150px;
        font-size: 6.3rem;
    }
    .test-drive__color-title{
        display: block;
        text-align: center;
        font-size: 6.rem;
    }
    .test-drive__zayavka{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 50px;
        font-size: 1.5rem;
    }
    .test-drive__img{
        width: 708px;
        height: 100%;
        border-radius: 20px;

    }
    .test-drive__link{
        margin-left: 430px;
        width: 200px;
        font-size: 1.5rem;

    }
    .studio-movie__title{
        font-size: 6.3rem;
        padding-top: 150px;
    }
    .video__exemple{
        width: 636px;
        height: 354px;
        padding-right: 20px;
        border-radius: 40px;
    }
    .organization__title{
        font-size: 6.3rem;
        display: block;
        text-align: center;
        padding-top: 150px;
    }
    .organization__tech{
        font-size: 6.3rem;
        display: block;
        text-align: left;
    }
    .organisation__text--decoration{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 1.5rem;
    }
    .mp-questions__questions{
        font-size: 6.3rem;
        padding-top: 150px;
        padding-bottom: 50px;
    }
    .mp-questions__questions-title{
        font-size: 4.2rem;
    }
    .mp-questions__answer{
        font-size: 1.5rem;
        padding-top: 12px;
    }
    .studio-contacts__title{
        font-size: 6.3rem;
        padding-top: 150px;
    }
    .studio-contacts__title--right{
        font-size: 6.3rem;
        padding-left: 150px;
    }
    .studio-contacts__wrapper{
        position: relative;
    }
    .studio-contacts__map{
        max-width: 480px;
        height: 400px;
        object-fit: cover;
        margin: 0 auto;
        padding-top: 50px;
    }
 

}   
@media screen and (min-width:1024px){
    
    *{
        max-width: 2400px;
        margin: 0 auto;
    }

    .hero__wrapper,
    .about-studio__wrapper,
    .studio-equipment__wrapper,
    .studio-composition__wrapper,
    .probable-price__wrapper,
    .studio-space__wrapper,
    .studio-movie__wrapper,
    .organization__wrapper,
    .mp-questions__wrapper,
    .studio-contacts__wrapper,
    .test-drive__wrapper,
    .footer__wrapper {
        box-sizing: border-box;
        width: 100%;
        margin: 0 auto;
        padding: 0 50px;
        max-width: 1200px;
    }
    
    header{
        justify-content: space-between;
        max-width: 2400px;
        padding: 5px 10px;
    
    }
    .studio-contacts__wrapper{
        position: relative;
    }
    .box{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
 
    
    .header__address{
        display: inline;
        color: #FFF;
        font-family: Inter,sans-serif;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: 140%; 
        letter-spacing: -0.6px;
        text-transform: uppercase;
        align-items: center;
    }

    .address__text{
        align-items:center;
        margin-left: 10px;
    }

    .phone__text{
        font-size: 1.5rem;
    }
    .hero__title{
        font-size: 13rem;
        margin-top: 109px;
        text-align: center;
    }
    .hero__title--center {
        display: block;
        text-align: center;
    }
    .hero__title--right {
        display: block;
        text-align: center;
        padding-right: 10px;
    }
    .hero__text--width-img{
        width: 282px;
        height: 108px;
    }
    .hero__text--width-img--small{
        width: 186px;
        height: 108px;
    }
    .hero__text{
        font-size: 1.5rem;
        display: block;
        padding-left: 60px;

    }

    .hero__link {
        display: block;
        min-width: 300px;
        padding: 13px 30px;
        font-size: 1.5rem;
        margin-top: 20px;
        margin-left: 12px;
        margin-right: 12px;
        margin-bottom: 20px;
    }
    .hero__line{
        padding-left: 500px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }
    .about-studio__title{
        font-size: 9.2rem;
        margin-top: 150px;
        padding-left: 100px;
    }
    .about-studio__title--left {
        padding-left: 0;
        display: inline;
    }
    .about-studio__title--right {
        padding-left: 0;
        margin-bottom: 50px;
    }

    .about-studio__studio-card {
        width: 598px;
        margin: 20px;


    }
    .studio-card__title{
        font-size:4.2rem ;
    }
    .studio-card__text,
    .studio-card__link,
    .studio-card__price--money{
        font-size: 1.5rem;
        margin: 15px;
    }
    .studio-card__oneline{
        display: block;
    }
    .studio-card__link{
        text-align: left;
    }
    .about-studio__list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1300px;
    }
    .studio-composition__title{
        font-size: 9.2rem;
        text-align: center;
    }
    .studio-composition__title--right{
        text-align: left;
        display: inline;

    }
    .studio-composition__title--center{
        text-align: center;
        display: block;
    }
    .studio-composition__title--doubright{
        display: inline;
    }
    .studio-zone{
        width: 392px;
        height: 440px;
        margin: 10px;
    }
    .studio-zone--addition{
        width: 392px;
        margin: 20px;
        height: 440px;
        margin-top: 10px;
    }
    .studio-zone__link{
        margin-top: 100 px;
    }
    .studio-zone__img{
        width: 392px;

    }
    .studio-zone__title{
        font-size: 4.2rem;
    }
    .studio-zone__text{
        font-size: 1.5rem;
    }
    .probable-price__title{
        font-size: 9.2rem;
        margin-top: 150px;
    }
    .probable-price__text{
        margin-top: 51px;
        font-size: 1.5rem;
    }
    .probable-price__form{
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        margin-bottom: 150px;
        max-width: 1310px;
        max-height: 630px;
        min-height: 600px;
        min-width: 1190px;


    }
    .probable-price__img{
        display: block;
        max-width: 600px;
        min-height: 630px;
        object-fit: cover;
        width: 100%;
        position: relative;
        z-index: 0;
    }
    .probable-price__link{
        position: absolute;
        z-index: 1;
        left: 930px;
        top: 530px;
        
    }
    .eq-wrapper{
       position: relative;
    }
    .survey__wrapper{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .question__wrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .survey__question{
        font-size: 1.5rem;

    }
    label{
        font-size: 1.5rem;
        width: 100%;
    }
    .survey{
        margin-right: 50px;;
    }
    .probable-price__price{
        font-size: 4.2rem;
    }
    .studio-equipment__title{
        display:inline;
        text-align: left;
        font-size: 9.2rem;
    }
    .studio-equipment__title--center{
        text-align: left;
        padding-left: 200px;
        
    }
    .studio-equipment__text{
        font-size: 1.5rem;
        margin-top: 50px;
        margin-left: 100px;
    }
    .studio-equipment__button--first{
        font-size: 1.5rem;
        margin-left: 100px;
        max-width: 568px;

    }
    .studio-equipment__button{
        font-size: 1.5rem;
        margin-top: 20px;
        margin-left: 100px;
        max-width: 568px;
    }

    .studio-equipment__img--big{
        display: block;
        width: 550px;
        height: 536px;
        object-fit: cover;
        margin: 20px auto;
        position: absolute;
        left: 700px;
        bottom: 1px;
    

    }
    .studio-equipment__img{
        width: 60px;
        height: 50px;
        margin: 10px 15px;
    }
    .studio-space__title{
        font-size: 9.2rem;
        margin-top: 150px;
        margin-left: 100px;
        display: block;
    }
    .studio-space__title--center{
        font-size: 9.2rem;
        display: block;
        text-align: center;
    }
    .studio-space__title--left{
        font-size: 9.2rem;
        text-align: right;
    }
    .studio-space__img{
        width: 100%;
        height: 100%;
        max-width: 1200px;
        object-fit: cover;
        display: block;
        margin: 20px auto;
        margin-bottom: 150px;
    }
    .test-drive__title{
        padding-top: 150px;
        font-size: 9.2rem;
    }
    .test-drive__color-title{
        display: block;
        text-align: center;
        font-size: 6.rem;
    }
    .test-drive__zayavka{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 50px;
        font-size: 1.5rem;
    }
    .test-drive__img{
        width: 100%;
        height: 388px;
        object-fit:contain;
        margin-top: 40px;
    }
    .test-drive__link{
        right: 800px;
        width: 200px;
        font-size: 1.5rem;

    }
    .studio-movie__title{
        font-size: 9.2rem;
        padding-top: 150px;
    }
    .video__exemple{
        width: 636px;
        height: 354px;
        padding-right: 20px;
        border-radius: 40px;
    }
    .organization__title{
        font-size: 9.2rem;
        display: block;
        text-align: center;
        padding-top: 150px;
    }
    .organization__tech{
        font-size: 9.2rem;
        display: block;
        text-align: left;
    }
    .organisation__text--decoration{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 1.5rem;
    }
    .mp-questions__questions{
        font-size: 9.2rem;
        padding-top: 150px;
        padding-bottom: 50px;
    }
    .mp-questions__questions-title{
        font-size: 4.2rem;
    }
    .mp-questions__answer{
        font-size: 1.5rem;
        padding-top: 12px;
    }
    .studio-contacts__title{
        font-size: 9.2rem;
        padding-top: 150px;
    }
    .studio-contacts__title--right{
        font-size: 9.2rem;
        padding-left: 150px;
    }
}
 

  