/* inter-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/inter-v13-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v13-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/inter-v13-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/inter-v13-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter-v13-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-800 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/inter-v13-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* inter-900 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/inter-v13-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }



:root {
    --first_color: #34344E;
    --font_size:62.5%
}

header { 
    font-family: inter, sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.4;
    color: white

}

h2 {
  color: #ECEEF8;
  font-size: 5rem;
  font-family: inter, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.1;
}



h3 {
  color: #ECEEF8;
  font-size: 4rem;
  font-family: inter,sans-serif;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
}


body {
    background: var(--first_color);
    color: white;
    font-size: 1.2rem;
    font-family: "inter", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.4;

}

button {
  background-color:#F49C89;
  border: 0.75rem solid #F49C89;
  border-radius:2rem;
  color: white;
}

.link{
  text-decoration: none;
  color:white;
}

.window{
  background-color: #ECEEF8;
  border: 0.5rem;
  border-radius:2rem;

  
}
.basictxt {
    color: #34344E;
    font-size: 1.2rem;
    font-family: "inter", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.4;
    text-align: left;
    padding: 1rem;
}

.hwin{
    color: #34344E;
    font-size: 3rem;
    font-family: "inter", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.1;
    padding: 1rem;
}

.hrwin{
  color:#F49C89;
  padding: 1rem;
}

.money{
  color: #34344E;
  padding:1rem;
  text-align: left;
}

img{
  left:1rem;
}

.ps {
  color: rgba(52, 52, 78, 0.50);
}

.orange{
  background-color: #F49C89;
}

nope{
  color:#34344E;
}

.bl{
  background-color: #34344E;
  border:2rem;
  border-radius:2rem;
}

.foot{
  color: rgba(255, 255, 255, 0.40);
}