/* inter-300 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/inter-v13-latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v13-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/inter-v13-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/inter-v13-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter-v13-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-800 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/inter-v13-latin-800.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-900 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/inter-v13-latin-900.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
    box-sizing: border-box;
}


:root {
    --first_color: #34344E;
    --second-color: #F49C89;
    --third-color: #ECEEF8;
    --font_size: 62.5%
}

header {
    font-family: "inter", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.4;
    color: white;
    background-color: var(--first_color);
}


.phone:visited {
    color: #ECEEF8
}

.phone {
    text-decoration: none;
}


.burger {
    margin: 0;
    text-align: right;

}



.hero__title {
    color: #ECEEF8;
    font-size: 5rem;
    font-family: inter, sans-serif;
    font-weight: 700;
    line-height: 1.1;
    text-transform: uppercase;
}

body {

    box-sizing: border-box;
    background-color: #34344E;

}

.hero__text,
.probable-price__text {
    color: white;
    font-size: 1.2rem;
    font-family: Inter, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.4;
    word-wrap: break-word;
}

.hero__link,
.probable-price__link {
    box-sizing: content-box;
    border: 1rem solid #F49C89;
    text-decoration: none;
    border-radius: 2rem;
    margin-left: 30%;
}


.link__text,
.probable-price__link-text {
    color: white;
    font-size: 1rem;
    font-family: Inter, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.4;
    word-wrap: break-word;
    background-color: #F49C89;
    text-align: center;

}

.studio-zone,
.studio-zone1 {
    border-radius: 2rem;
    padding: 2rem;
    margin: 1rem;
    width: 45rem;

}

.probable-price__list {
    padding: 3rem;
    border: 3rem;
    border-radius: 1rem;
}

h2 {
    color: #ECEEF8;
    font-size: 4rem;
    font-family: inter, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.1;
    word-wrap: break-word;
}

ul {
    list-style-type: none;
}

.studio-card,
.studio-zone {
    background-color: white;
}

.studio-zone1 {
    background-color: #F49C89;
}

.studio-card__title,
.sudio-zone__title,
.organization__questions-title {
    color: #34344E;
    font-size: 3rem;
    font-family: inter, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.1;
    letter-spacing: 0.02;
    word-wrap: break-word;
}

.sudio-zone1__title {
    color: white;
    font-size: 3rem;
    font-family: inter, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.1;
    letter-spacing: 0.02;
    word-wrap: break-word;
}

.about-studio__studio-card {
    border-radius: 2rem;
    padding: 2rem;
    margin: 1rem;
    width: 45rem;
}

.studio-card__price {
    border-radius: 2rem;
    padding: 0.25rem;
    background-color: #F49C89;
    margin: 1rem;
}

.sudio-equipment__elem {
    border-radius: 1.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
    width: 45rem;
}

.studio-card__text,
.studio-zone__text,
.elem__text,
.opportunities__text,
.test-drive__text,
.organization__text,
.organization__answer,
.mail__text,
.phone__text,
.tg__text,
.whapp__text,
.studio-contacts__time-text,
.studio-contacts__address-text {
    color: #34344E;
    font-size: 1.2rem;
    font-family: Inter, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.4;
    word-wrap: break-word;


}

.add,
.link-text,
.probable-price__link-text,
.studio-equipment__text,
.organization__link-text {
    color: white;
    font-size: 1.2rem;
    font-family: Inter, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.4;
    word-wrap: break-word;
}

.studio-card__price,
.link__text {
    color: white;
    font-size: 1.2rem;
    font-family: Inter, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.4;
    word-wrap: break-word;
}

.alink__text {
    color: #F49C89;
    font-size: 1.2rem;
    font-family: Inter, sans-serif;
    font-weight: 400;
    text-decoration: underline;
    text-transform: uppercase;
    line-height: 1.4;
    word-wrap: break-word;
}

.probable-price__list,
.sudio-equipment__elem {
    background-color: white;
    color: #34344E;
    font-size: 1.2rem;
    font-family: Inter, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.4;
    word-wrap: break-word;

}

.probable-price__price {
    font-size: 1.5rem;
}

.probable-price__price-text,
.time-text__recording {
    color: rgba(52, 52, 78, 0.50);
    font-size: 1.2rem;
    font-family: Inter, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.4;
    word-wrap: break-word;
}

.test-drive,
.studio-movie,
.organization,
.studio-contacts {
    background-color: #F49C89;


}

.test-drive__link,
.organization__link {
    box-sizing: content-box;
    border: 1rem solid #34344E;
    text-decoration: none;
    border-radius: 2rem;
    margin-left: 30%;
}

.link__text2,
.organization__link {
    background-color: #34344E;
    color: white;
    font-size: 1.2rem;
    font-family: Inter, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.4;
    word-wrap: break-word
}

.test-drive__color-title,
.organization__tech,
.studio-contacts__color-title {
    color: #34344E
}

.test-drive {
    color: #ECEEF8
}

footer {
    background-color: #34344E;
    color: white;
    font-size: 1.2rem;
    font-family: Inter, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.4;
    word-wrap: break-word;
}

.footer__text {
    color: rgba(255, 255, 255, 0.40);
}

.footer-link__mail,
.footer-link__phone,
.mail__text,
.phone__text {
    color: white;

}

.button {
    color: #ECEEF8;
    background-color: #34344E;
    border: 0;
}

.text__developer {
    color: #F49C89
}

.organization__wrapper,
.studio-movie__wrapper,
.studio-space__wrapper,
.studio-contacts__wrapper {
    padding: 1rem;
    box-sizing: border-box;
    min-width: 40rem;
}

section {
    margin: auto;
    padding: auto;
}

.studio-card__img {
    object-fit: fill;
}
.hero__text-img {
    border-radius: 1.5rem;
}
.header__burger {
    text-align: right;
    object-position: right ;
}

.visually-hidden{
    display: none;
}

.burger__img{
    width: 2rem;
    height: 2rem;

}
header{
    display: flex;
    justify-content: space-between;
}
.hero__title{
    margin: 2rem;
}

.hero__title-right{
    text-align: right;
}
